@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #070238;
    background-repeat: no-repeat;
    display: block;
    background-size: contain;
    background-position: center bottom;
    min-height: 100vh;
}

.header {
    background-color: #1f3a93;
}

.box-wrapper {
    max-width: 576px;
}

#video {
    max-width: 100%;
}
.container-fluid {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.35rem;
    line-height: 1.3;
}

.button-wrapper {
    border: 2px solid #FFFFFF;
    padding: 0.25rem;
    width: 75%;
}

.button {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.info,
.term {
    font-size: 0.75rem;
    line-height: 1.5;
    opacity: 0.8;
    position: relative;
    z-index: 99;
}

.input-group {
    margin: auto;
}

.input-group-text,
.input-group > .form-control {
    padding: 1.25rem .75rem;
}

.input-group-text {
    border-radius: 2rem 0 0 2rem;
}

.input-group > .form-control {
    border-radius: 0 2rem 2rem 0 !important;
}

.button {
    background: linear-gradient(90deg, #c0e169 0%, #2bb14a 51%, #2bb14a 100%);
    border-radius: 2rem;
}

.img-fluid {
    margin-bottom: -2.5rem;
}

.modal-content {
    background-color: #fff;
    color: #333;
}

.modal-header {
    border-bottom-color: rgba(0,0,0,.15);
    color: inherit;
}

.btn-close {
    filter: none;
    -webkit-filter: none;
}

.modal-body ol,
.modal-body ul {
    padding-left: 1rem;
}


/* @media only screen and (max-width: 576px) {
    body {
        background-image: url('img/stadium.jpg');
    }
} */