<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/dreamleague/css/mdb.dark.min.css">
  <link rel="stylesheet" href="/static/dreamleague/style.css">
  <title>Dream League</title>
</head>

<body>
  <div class="mx-auto box-wrapper">
    <img src="/static/dreamleague/img/banner-dreamleague.jpg" class="img-fluid" alt="DreamLeague">
  </div>
  <div class="container-fluid box-wrapper text-center pb-3 mt-3">
    <div class="content-box">
      <h5 class="mb-3 text-uppercase title px-2">
        Create your team, join competition and get exclusive rewards
      </h5>
      <form id="subform">
        <input id="host" name="host" type="hidden" value="{{.host}}" />
        <input id="msisdn" name="msisdn" type="hidden" value="{{.msisdn}}" />
        <button id="btnSubmit" class="btn btn-warning button btn-lg w-75">PLAY</button>
        <div id="loading" class="spinner-border" role="status" style="display: none;">
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>

    <div class="container-fluid mt-3">
      <p class="info mb-2">Service cost: For Telenor users - Rs 8+t / week. <br> Service is auto renewed.</p>
      <p class="term mb-0">By clicking on <span class="fw-bold">Play</span>, you agree with <br /><a href="#"
          data-mdb-toggle="modal" data-mdb-target="#modalTerm" class="text-warning">term and condition</a></p>
    </div>
  </div>
</body>
<!-- modal term start -->
<div class="modal fade" id="modalTerm" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Term and Condition</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body small">
        <ol>
          <li>
            <p class="fw-bold mb-2">Method of Entry</p>
            <p>Once you have entered the DreamLeague subscription you will receive and SMS with a link for
              you to access the content. Follow the instructions to play the content of your choice.</p>
          </li>
          <li>
            <p class="fw-bold mb-2">Liability</p>
            <p>2.1. The Liability of the promoter and its managing company shall be limited to the amount of
              the subscription charges actually paid.</p>
            <p>2.2 We shall not be liable for any loss or damage that we could not have reasonably been
              expectedto foresee at the start of the agreement, or for any loss of or corruption to data,
              system equipment,</p>
            <p>2.3. In respect of any insured prize, the liability of the promoter and its managing company
              shall be limited to the sums actually recoverable under the applicable insurance policy.</p>
          </li>
          <li>
            <p class="fw-bold mb-2">Email and Mobile Marketing Terms &amp; Conditions:</p>
            <p>By giving us your mobile number and / or email address, you agree for DreamLeague and its
              managing company to send you either an occasion email or text, notifying you of the latest
              offers and promotions available from our group. If you ever wish to be removed from any of
              our email/text broadcasts, you will have a link provided on each email saying ‘UNSUBSCRIBE’.
            </p>
          </li>
          <li>
            <p class="fw-bold mb-2">Assignment</p>
            <p>DreamLeague reserves the right to assign the agreement to and acceptance of these Terms &amp;
              Conditions, in whole or in part, at any time without notice. The user may not assign any of
              his/her rights or obligations arising from their agreement to and acceptance of these Terms
              &amp; Conditions.</p>
          </li>
          <li>
            <p class="fw-bold mb-2">Changes to these Terms &amp; Conditions</p>
            <p>We aim to meet high standards and our policies and procedures are therefore constantly under
              review. From time to time, we may update our Terms &amp; Conditions and Privacy policies to
              optimise the user experience and to comply with legal and regulatory obligations.
              Accordingly, we recommend that you check these pages periodically in order to review our
              current policies.</p>
          </li>
          <li>
            <p class="fw-bold mb-2">Trademarks / Logos / Images</p>
            <p>Trademarks, service marks, logos (including without limitation, the individual names of
              products &amp; retailers) are the property of their owners. Brands/Logos/Images used have
              not been done with the participation in, or in any way reviewed by the owners of this
              advertisement nor have they authorised it.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- modal term end -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/dreamleague/js/mdb.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(document).ready(function () {

    var ip = "";
    $.getJSON("https://api.ipify.org/?format=json", function (e) {
      ip = e.ip;
    });

    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
      return "";
    };

    $('#btnSubmit').click(function (event) {
      event.preventDefault();

      // disable button
      $('#btnSubmit').hide();
      $('#btnSubmit').attr("disabled", true);
      $('#loading').removeAttr("style");

      var str = $("#msisdn").val();
      var host = $("#host").val();

      var adnet = "";
      var pubid = "";
      var aff_sub = "";

      adnet = getUrlParameter('ad');
      pubid = getUrlParameter('pubid');
      aff_sub = getUrlParameter('aff_sub');

      if (str.length > 7) {
        Swal.fire({
          title: 'Please Wait !',
          html: 'processing...',
          showConfirmButton: false,
          allowOutsideClick: false,
          allowEscapeKey: false,
          didOpen: () => {
            Swal.showLoading()
          },
        });

        $.ajax({
          type: 'POST',
          url: host + '/v1/sub',
          data: JSON.stringify({
            msisdn: "0" + str,
            service: "dreamleague8",
            channel: "HE",
            adnet: adnet,
            pubid: pubid,
            aff_sub: aff_sub,
            ip_address: ip,
          }),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function (json) {
            if (json.error == false) {

              window.location.href = json.redirect;

              // success
              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: json.message,
              });

              setTimeout(function () {
                // enable button
                $('#btnSubmit').show();
                $('#btnSubmit').removeAttr("disabled");
                $("#loading").attr('style', 'display:none')
              }, 10000)

            } else {
              if (json.redirect != "" || json.redirect != undefined) {
                window.location.href = json.redirect;
              }

              // not success
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: json.message,
              });

              setTimeout(function () {
                // enable button
                $('#btnSubmit').show();
                $('#btnSubmit').removeAttr("disabled");
                $("#loading").attr('style', 'display:none')
              }, 10000)
            }
          },
          error: function () {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: "Error Timeout",
            });
            setTimeout(function () {
              // enable button
              $('#btnSubmit').show();
              $('#btnSubmit').removeAttr("disabled");
              $("#loading").attr('style', 'display:none')
            }, 5000)
          }
        });

      }
    })
  })
</script>

</html>