<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe DreamLeague</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.dark.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: black;
        }

        .wrapper {
            min-height: 100vh;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .title {
            font-weight: bold;
            font-size: 21px;
            line-height: normal;
        }

        .button {
            background-color: #21D4FD;
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            letter-spacing: 1px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container box-wrapper text-center pb-3">
            <div class="text-center mb-3">
                <img src="/static/dreamleague/img/icon-sad-dreamleague.png" class="img-responsive" width="125"
                    alt="People">
            </div>
            <p class="title mb-2">Unsubscribe DreamLeague</p>
            <small class="d-block mb-3">It's sad to know you're leaving.</small>
            <div class="button-wrapper mx-auto">
                <form id="subform">
                    <input id="host" name="host" type="hidden" value="{{.host}}" />
                    <input id="msisdn" name="msisdn" type="hidden" value="{{.msisdn}}" />
                    <button id="btnSubmit"
                        class="btn btn-primary button btn-lg w-50 rounded-pill mb-2">Unsubscribe</button>
                    <div id="loading" class="spinner-border" role="status" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        var ip = "";
        $.getJSON("https://api.ipify.org/?format=json", function (e) {
            ip = e.ip;
        });

        $('#btnSubmit').click(function (event) {
            event.preventDefault();
            // disable button
            $('#btnSubmit').hide();
            $('#btnSubmit').attr("disabled", true);
            $('#loading').removeAttr("style");

            var str = $("#msisdn").val();
            var host = $("#host").val();

            if (str.length > 8) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want Unsubscribe",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.value) {
                        Swal.fire({
                            title: 'Please Wait !',
                            html: 'processing...',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            didOpen: () => {
                                Swal.showLoading()
                            },
                        });

                        $.ajax({
                            type: 'POST',
                            url: host + '/v1/unsub',
                            data: JSON.stringify({
                                msisdn: "0" + str,
                                service: "dreamleague",
                                channel: "HE",
                                ip_address: ip,
                            }),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            success: function (json) {
                                if (json.error == false) {
                                    window.location.href = json.redirect;
                                    // success
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: json.message,
                                    });

                                    setTimeout(function () {
                                        // enable button
                                        $('#btnSubmit').show();
                                        $('#btnSubmit').removeAttr("disabled");
                                        $("#loading").attr('style', 'display:none')
                                    }, 5000);
                                } else {
                                    // not success
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: json.message,
                                    });

                                    setTimeout(function () {
                                        // enable button
                                        $('#btnSubmit').show();
                                        $('#btnSubmit').removeAttr("disabled");
                                        $("#loading").attr('style', 'display:none')
                                    }, 5000);
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: "Error Timeout",
                                });
                                setTimeout(function () {
                                    // enable button
                                    $('#btnSubmit').show();
                                    $('#btnSubmit').removeAttr("disabled");
                                    $("#loading").attr('style', 'display:none')
                                }, 1000);
                            }
                        });
                    }
                })
            }
        });
    })
</script>

</html>